<!-- views/partials/navbar.ejs -->
<div class="navbar">
    <a href="/" class="nav-brand">TSB Token Scanner</a>
    <div class="nav-links">
      <a href="/" class="nav-link">Home</a>
      <a href="/docs" class="nav-link">Documentation</a>
      <a href="/api/tokens" class="nav-link" target="_blank">API</a>
    </div>
  </div>